h1{
    text-align: center;
    color: chocolate;
}
.container{
    height: 300px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: baseline;
}
.container div{
    height: 100px;
    width:100px;
    color: white;
    text-align: center;

}