.container{
    background-color:white;
    height: 400px;
    width:400px;
    border: 3px rgb(91, 219, 213) solid;
    border-radius: 2%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.container div{
    background-color:rgb(107, 99, 99);
    height: 100px;
    width: 100px;
    font-size: 50px;
    margin: 10px;
    border: 2px black solid;
    border-radius: 10px;
    text-align: center;
}